a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  border: none;
  background: none;
  cursor: pointer;
}

.header {
  background-color: #26c6da;
}
