<form #authForm="ngForm" (ngSubmit)="onSignUp(authForm)" class="center">

  <div>
    <mat-form-field>
      <mat-label for="username">Name</mat-label>
      <input matInput type="text" id="username" ngModel name="username" required username>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label for="password">Password</mat-label>
    <input matInput type="password" id="password" ngModel name="password" required minlength="5">
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!authForm.valid">
      Sign In
    </button>
  </div>
</form>
