.margin-item {
  margin: 20px;
}


.status {
  margin: 10px;
  --mdc-chip-label-text-color: red;
}

.selected {
  --mdc-chip-label-text-color: blue;
}

.error-msg {
  font-weight: bold;
  color: red;
}

.animated-card {
  margin: 20px;
  cursor: pointer;
}
